.message {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;

  &-block {
    width: auto;
    display: inline-block;
    max-width: 75%;
    padding: 10px 15px;
    border-radius: 10px;
  }

  &--user {
    align-items: flex-end;
  }

  &--server {
    align-items: flex-start;
  }

  &--user &-block {
    background-color: #0086ff;
    color: rgb(255, 255, 255);
  }

  &--server &-block {
    background-color: rgb(245, 245, 245);
    color: rgb(0, 0, 0);
  }

  &-actions {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;

    &__action {
      padding: 10px;
      border-radius: 6px;
      background-color: #0086ff4d;
      color: #000f;
      display: inline-block;

      &:hover {
        background-color: #0086ff;
        color: rgb(255, 255, 255);
        cursor: pointer;
      }
    }
  }
}
