.tour-next-button {
  width: 100%;
  line-height: 18px;
  padding: 10px;
  border-radius: 6px;
  background-color: #0086ff4d;
  color: #000f;
  display: inline-block;

  &:hover {
    background-color: #0086ff;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }

  &--hidden {
    opacity: 0;
  }
}
